


body{
    font-family: 'Courier New', Courier, monospace;
    width: 95%;
    margin: 20px auto;
    background-color: #FFF;
}
h1{
    color: hsl(300, 46%, 28%);
    font-size: 40px;
    text-align: start;
}

.p{
    color: hsl(303, 10%, 53%);
    width: 500px;
    text-align: center;
    padding: 20px;
}

div{
    padding: 2px;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.star-container{
    width: 80px;
    height: 15px;
    bottom: 10px;
    margin-top: 12px;
    margin-left: 10px;
    background-image: url('../images/rating-153245.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0px -77px;

}
.ranking{
    width: 520px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "one one ."
    ". three three"
    ;
}
.star{
    height: 40px;
    border-radius: 10px;
    background-color: hsl(300,24%,96%);
    display: grid;
    grid-template-columns: 120px 250px;
    margin: 9px auto;
}
.star-rank-text{
    text-align: center;
    position: relative;
    bottom: 10px;
    margin-top: 25px;
}
.one{
    grid-area: one;

}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}

.section2{
    display: flex;
    gap: 30px;
    background-size: 50%;
    justify-content: center;
    align-items: center;
}
.section2 .card {
    background-color: hsl(300,79%,15%);
    padding: 35px 20px;
    border-radius: 10px;
    max-width: 450px;
    height: 180px;
}

.citation-profil-name {
    color: white;
    margin: 0;
}
.citation-profil-situation {
    color: hsl(333,83%,70%);
    font-size: 10px;
    margin: 0;
}

.product-citation{
    color: white;
    margin-top: 20px;
}
.citation-profil-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.card-header {
    display: flex;
    align-items: center;
}
.card2 {
    grid-row: span 2;
    margin-top: 25px;
}
.card3 {
    grid-row: span 3;
    margin-top: 45px;
}